Foo: <input [(ngModel)]="test.foo"><br/>
Bar: <input [(ngModel)]="test.bar"><br>
Bar: <input [(ngModel)]="a">

<br/>
<code>
  Foo = {{test.foo}}! <br/>
  Bar = {{test.bar}}!<hr>
  Locale = {{test.locale}} 
</code>

<h2>
Result: {{getir()}}
</h2>

<p>
  <button (click)="reset()">Reset</button>
  <button (click)="test_check()">Test CHECK</button>
</p>
<p>
  <button (click)="i18n_tr()">TR</button>
  <button (click)="i18n_en()">EN</button>
</p>
<!--br>
<h1>
  {{person.name.forename}} {{person.name.surname}}
  ({{person.address.street}}, {{person.address.city}}, {{person.address.country}})
</h1>
<p>
  <input [value]="person.name.forename"
          (keyup)="person.name.forename=$event.target.value">

  <input [value]="person.name.surname"
          (input)="person.name.surname=$event.target.value">
</p>
<p>
  Street: <input [ngModel]="person.address.street"
                  (ngModelChange)="person.address.street=$event">
</p>
<p>
  City: <input [(ngModel)]="person.address.city">
</p>
<p>
  Country: <input bindon-ngModel="person.address.country">
</p>
<p>
  Str: {{str}}
</p>

<pre>
    {{person | json:2}}
</pre-->